/* Imported links */
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Poppins:wght@100;300;400;500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --text-clr: #f7f7f7;
  --btn-clr: #3f3f3f;

  --ff-hind: "Hind", sans-serif;
  --ff-poppins: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav-anim::after {
  content: "";
  height: 0.1rem;
  width: 0%;
  background-color: var(--text-clr);
  display: inline-block;
  position: absolute;
  top: 1.3rem;
  left: 0;
  transition: all 0.2s ease-in;
}

.nav-anim:hover::after {
  width: 100%;
}

header {
  background: rgba(255, 255, 255, 0.019);
  backdrop-filter: blur(5.2px);
}

.about-img:hover img {
  filter: grayscale(0);
  transform: translate(-5px, -5px);
}

.card {
  filter: grayscale(100%);
}

.card:hover {
  filter: grayscale(0%);
}

.card::before {
  content: "";
  height: 100%;
  width: 100%;
  background: var(--btn-clr);
  position: absolute;
  z-index: -100;
  top: 0rem;
  left: 0rem;
  border-radius: 0.75rem;
  transition: all 0.1s ease-in;
}

.card:hover::before {
  top: -0.5rem;
  left: -0.5rem;
}

input:active,
input:focus,
input:focus-visible,
textarea:active,
textarea:focus,
textarea:focus-visible {
  outline: none;
}

input[type="number"]{
  appearance: none;
}